{% extends 'base.html' %}
{% block title %}{{user['username']}}{% endblock %}
{% block content %}
<br/>
{% if user['username'] == session['login_user']['username']%}
<p class="text-right"><a href="/edit_biradari" class="btn btn-link">EDIT FAMILY</a></p>
{% endif %}
<div class="row">
    <div class="col-lg-4">
        <p><img src="{{ url_for('static', filename ='img/default_profile_pic.png') }}" class="img-fluid"
                alt="Responsive image"></p>
    </div>
    <div class="col-lg-8">
        <h2 class="text-capitalize">{{user['full_name']}}</h2>
        <p>
            <a href="/profile/{{user['username']}}" class="btn btn-block btn-outline-primary">VIEW PROFILE</a>
        </p>
    </div>
</div>
<div class="list-group">
{%for person in user['biradari'] %}
<a class="list-group-item list-group-item-action" href="/biradari/{{person['username']}}">
        {{person['full_name']}}
        <small class="float-right text-info text-uppercase">
            {{person['relation']}}
        </small>
    </a>
{% endfor %}
</div>

{% endblock %}
