{% extends 'base.html' %}
{% block title %}{{session['login_user']['username']}}{% endblock %}
{% block content %}


<br/>
<p><a href="/edit_biradari" class="btn btn-link">EDIT</a></p>
<div class="row">
    <div class="col-lg-6">

        <div class="card">
            <div class="card-header">
                <h5>PARENTS</h5>
            </div>
            <div class="list-group-flush">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col text-capitalize">Father</div>
                        <div class="col"><a href="/profile/{{user['family']['father']['username']}}">{{user['family']['father']['name']}}</a>
                            {% if user['family']['father']['confirmed'] == true %}
                                <small class="text-success">(CONFIRM)</small>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="row">
                        <div class="col text-capitalize">Mother</div>
                        <div class="col"><a href="/profile/{{user['family']['mother']['username']}}">{{user['family']['mother']['name']}}</a>
                            {% if user['family']['mother']['confirmed'] == true %}
                                <small class="text-success">(CONFIRM)</small>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="row">
                        <div class="col text-capitalize">Spouse</div>
                        <div class="col"><a href="/profile/{{user['family']['spouse']['username']}}">{{user['family']['spouse']['name']}}</a>
                            {% if user['family']['spouse']['confirmed'] == true %}
                                <small class="text-success">(CONFIRM)</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <br/>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5>SIBILINGS</h5>
            </div>
            <div class="list-group-flush">

                {% for sibiling in user['family']['sibilings']%}
                <a class="list-group-item list-group-item-action" href="/profile/{{sibiling['username']}}">{{sibiling['name']}}
                {% if sibiling['confirmed'] == true %}
                            <small class="text-success">(CONFIRM)</small>
                        {% endif %}
                </a>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
