{% extends 'base.html' %}
{% block title %}{{session['login_user']['username']}}{% endblock %}
{% block content %}
<div class="modal" id="select_user_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

          <div class="row">
              <div class="col-lg-3">
                  <div class="form-group">
                      <button data-dismiss="modal" class="btn btn-outline-dark">CLOSE</button>
                  </div>
              </div>
              <div class="col-lg-9">
                  <form name="select_user_form" onsubmit="submit_select_user_form(this)">
                  <div class="form-group">
                      <div class="row">
                        <div class="col-9"><input class="form-control" type="text" placeholder="Type Name or username" name="query"/></div>
                        <div class="col-3"><button type="submit" class="btn btn-primary btn-block">FIND</button> </div>
                      </div>
                  </div>
                  </form>
              </div>
          </div>
              <br/>
              <div class="list-group" id="query_result_list">
              </div>
      </div>
    </div>
  </div>
</div>


<br/>
<div class="row">
    <div class="col-lg-6">

        <div class="card">
            <div class="card-header">
                <a href="/biradari">< BACK</a>
                <h5 class="float-right">EDIT FAMILY</h5>
            </div>
        <div class="list-group-flush">
            <div class="list-group-item"><div class="row">
                <div class="col text-capitalize">Father</div>
                <div class="col">
                    <span id="father"></span>
                    <button onclick="select_user(update_father)" class="btn btn-sm btn-link">CHANGE</button>
                </div>
            </div></div>

            <div class="list-group-item"><div class="row">
                <div class="col text-capitalize">Mother</div>
                <div class="col">
                    <span id="mother"></span>
                    <button onclick="select_user(update_mother)" class="btn btn-sm btn-link">CHANGE</button>
                </div>
            </div></div>

            <div class="list-group-item"><div class="row">
                <div class="col text-capitalize">Spouse</div>
                <div class="col">
                    <span id="spouse"></span>
                    <button onclick="select_user(update_spouse)" class="btn btn-sm btn-link">CHANGE</button>
                </div>
            </div></div>

            <div class="list-group-item"><div class="row">
                <div class="col-lg-4 text-capitalize"><p>

                    Sibilings</p></div>
                <div class="col-lg-8">
                    <p><button onclick="select_user(add_sibiling)" class="btn btn-sm btn-outline-info">+ ADD</button></p>
                    <div id="sibiling_list" class="card list-group list-group-flush">

                        {% for sibiling in user['family']['sibilings']%}
                        <div class="list-group-item">
                            <button onclick="delete_sibiling(this,'{{sibiling['username']}}')" class="btn btn-sm btn-outline-danger float-right">DELETE</button>
                            <a href="/profile/{{sibiling['username']}}">{{sibiling['name']}}</a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div></div>
        </div>
        </div>


    </div>
</div>
{% endblock %}

{% block javascript %}

father_username = '{{user['father']['username']}}'
document.getElementById('father').innerText = (father_username == 'None') ? 'None' : father_username

mother_username = '{{user['mother']['username']}}'
document.getElementById('mother').innerText = (mother_username == 'None') ? 'None' : mother_username

spouse_username = '{{user['spouse']['username']}}'
document.getElementById('spouse').innerText = (spouse_username == 'None') ? 'None' : spouse_username

function update_father() {
    father_username = selected_username
    $.ajax({
        type:'POST',
        url:'api/update_father',
        data:{'username':father_username},
        dataType: 'json',
        success: function (response) {
                if (response.result == true) {
                document.getElementById('father').innerText = father_username
                } else alert(response.msg)
        }
    })
}//end function


function update_mother() {
    mother_username = selected_username
    $.ajax({
        type:'POST',
        url:'api/update_mother',
        data:{'username':mother_username},

        success: function (response) {
                document.getElementById('mother').innerText = mother_username
        }
    })
}//end function


function update_spouse() {
    spouse_username = selected_username
    $.ajax({
        type:'POST',
        url:'api/update_spouse',
        data:{'username':spouse_username},

        success: function (response) {
                document.getElementById('spouse').innerText = spouse_username
        }
    })
}//end function


function add_sibiling() {
    sibiling_username = selected_username
    $.ajax({
        type:'POST',
        url:'api/add_sibiling',
        data:{'username':sibiling_username},
        dataType: 'json',
        success: function (response) {
                if (response.result == true) {
                html = document.getElementById('sibiling_list').innerHTML
                html +=  '<div class="list-group-item"><button onclick="delete_sibiling(this,\''+selected_username+'\')" class="btn btn-sm btn-outline-danger float-right">DELETE</button><a href="/profile/'+selected_username+'">'+selected_username+'</a></div>'
                document.getElementById('sibiling_list').innerHTML = html
                } else {alert(response.msg)}
        }
    })
}//end function


function delete_sibiling(e,username) {
    $.ajax({
        type:'POST',
        url:'api/delete_sibiling',
        data:{'username':username},
        success: function (response) {
                e.parentElement.remove();
        }
    })
}

{% endblock %}