{% extends 'base.html' %}
{% block content %}
<br/>
<div class="row justify-content-center">

    <div class="col-sm-7 ">
        <form onsubmit="wall_post_submit(this)">
            <div class="row">
                <div class="col-md-8"><p>
                    <textarea name="content" class="form-control"></textarea></p>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-lg btn-block btn-primary">POST</button>
                </div>
            </div>
        </form>
        <p class="text-right">
            <button class="btn btn-secondary" type="button" onclick="get_new_posts()">Refresh</button>
        </p>
        <ul id="posts_list" class="list-group list-group-flush">
            {% for post in posts %}
            <li class="list-group-item mb-2">
                <p>
                    <a class="text-capitalize" href="/profile/{{post['username']}}">{{post['full_name']}}</a>
                    <small class="float-right text-muted">{{post['timestamp']}}</small>
                </p>
                <p class="text-break">{{post['content']}}</p>
            </li>
            {% endfor %}
        </ul>
        <p class="text-center">
            <button onclick="get_old_posts()" class="btn btn-secondary">Load More</button>
        </p>
    </div>

</div>

{% endblock %}

{% block foot %}
<script>
    last_timestamp = '{{last_timestamp}}'
    first_timestamp = '{{first_timestamp}}'

    function get_old_posts() {
        $.ajax({
            url: '/api/get_posts',
            data: {'get_wall_posts': true, 'limit': '10', 'last_timestamp': last_timestamp},
            type: 'POST',
            dataType: 'JSON',
            success: function (response) {
                if (response.length > 0) {
                    for (i in response) {
                        html = '<li class="list-group-item mb-2"><p><a class="text-capitalize" href="/profile/' + response[i]['username'] + '">' + response[i]['full_name'] + '</a><small class="float-right text-muted">' + format_datetime(response[i]['timestamp']) + '</small> </p><p class="text-break">' + response[i]['content'] + '</p> </li>'
                        $(html).hide().appendTo('#posts_list').slideDown();
                        last_timestamp = response[i].timestamp;
                    }
                }
            }
        })
    }


    function get_new_posts() {
        $.ajax({
            url: '/api/get_posts',
            data: {'get_wall_posts': true, 'limit': '10', 'first_timestamp': first_timestamp},
            type: 'POST',
            dataType: 'JSON',
            success: function (response) {
                if (response.length > 0) {
                    for (i in response) {
                        html = '<li class="list-group-item mb-2"><p><a class="text-capitalize" href="/profile/' + response[i]['username'] + '">' + response[i]['full_name'] + '</a><small class="float-right text-muted">' + format_datetime(response[i]['timestamp']) + '</small> </p><p class="text-break">' + response[i]['content'] + '</p> </li>'
                        $(html).hide().prependTo('#posts_list').slideDown();
                        first_timestamp = response[i].timestamp;
                    }
                }
            }
        })
    }


    function wall_post_submit(e) {
        event.preventDefault();
        content = e.content.value;
        $.ajax({
            url: '/api/post',
            data: {'content': content},
            type: 'POST',
            dataType: 'JSON',
            success: function (response) {
                if (response.result == true) {
                    get_new_posts()
                } else {
                    alert(response.msg)
                }
            }
        })
    }

</script>
{% endblock %}