{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6">
        <p>
        <h1 class="text-center">WELCOME</h1>
        </p>

        <div id="alert"></div>
        <form name="login_form" onsubmit="login(this)">
            <input type="hidden" name="next" value="{{ request.args.get('next', 'home') }}"/>

            <label class="form-label" for="username">Username</label>
            <input class="form-control mb-3" id="username" name="username" type="text" required/>
            <label class="form-label" for="password">Password</label>
            <input class="form-control mb-3" id="password" name="password" type="password" required/>
            <p>Dont have account ? - <a class="btn btn-link" href="/register">Create Account</a></p>
            <button type="submit" name="login_btn" class="btn btn-lg btn-primary btn-block">LOGIN</button>
        </form>
    </div>

</div>

{% endblock %}

{% block foot %}
<script>
    //function submit_login_form to ajax
    function login(form) {
        event.preventDefault();
        form.login_btn.disabled = true;
        form.username.disabled = true;
        form.password.disabled = true;
        username = form.username.value
        password = form.password.value
        $.ajax({
            type: 'POST',
            url: '/api/login',
            data: {'username': username, 'password': password},
            dataType: 'json',
            success: function (response) {
                if (response.result == true) {
                    location.replace('/')
                } else {
                    show_alert(response.msg, "danger");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                show_alert(textStatus+': '+errorThrown, 'warning');
            },
            complete: function () {
                form.login_btn.disabled = false;
                form.username.disabled = false;
                form.password.disabled = false;
            }
        });
    }
</script>
{% endblock %}