{% extends 'base.html' %}
{% block title %}Register New User{% endblock %}
{% block content %}
<br/>
<h3>Fill Information</h3>
<form name="register_form" onsubmit="submit_register_form(this)">
        <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="username">Username</label>
        <div class="col-lg-6">
            <input class="form-control" id="username" name="username" type="text" required/>
        </div>
        </div>
        <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="password">Password</label>
        <div class="col-lg-6">
            <input class="form-control" id="password" name="password" type="password" required/>
        </div>
        </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="first_name">First Name</label>
        <div class="col-lg-5">
            <input class="form-control" id="first_name" name="first_name" type="text" placeholder="First Name" required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="last_name">Last Name</label>
        <div class="col-sm-6">
            <input class="form-control" id="last_name" name="last_name" type="text" placeholder="Last Name" required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="gender">Gender</label>
        <div class="col-sm-6">
            <select class="form-control" id="gender" name="gender" required>
                <option value="False" selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="dob">Date of Birth</label>
        <div class="col-sm-6">
            <input class="form-control" id="dob" name="dob" type="date" required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="location">Location</label>
        <div class="col-sm-6">
            <input class="form-control" id="location" name="location" type="text" required/>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-lg">REGISTER</button>
    </div>

</form>

{% endblock %}

{% block javascript %}

//function submit_register_form to ajax
function submit_register_form(form) {
    event.preventDefault();
    var data = $(this).serializeArray();
    $.ajax({
        type: 'POST',
        url: 'api/register',
        data: $(form).serialize(),
        dataType: 'json',
        success: function(response) {
            if (response.result == true) {
                alert('user created successfully!');
            }   else { alert('error: ' + response.msg) }
        }
    });
}

{% endblock %}