{% extends 'base.html' %}
{% block title %}{{user['full_name']}}{% endblock %}
{% block content %}
<div class="mt-2">
    <div id="alert"></div>
    <h1 class="text-capitalize">Profile
        <a href="/edit_profile" class="float-right btn btn-outline-primary">EDIT</a>
    </h1>
    <hr/>
    <div class="row">
        <div class="col-lg-4">
            <p>
                <img src="{{ url_for('static', filename ='img/default_profile_pic.png') }}" class="img-fluid"
                     alt="Responsive image">
            </p>
            <h4>About</h4>
            <table class="table">
                <tr>
                    <th>Gender</th>
                    <td>{{user['gender']}}</td>
                </tr>
                <tr>
                    <th>Date of Birth</th>
                    <td>{{user['dob']}}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{user['location']}}</td>
                </tr>
            </table>

        </div>
        <div class="col-lg-8">
            <h4>Wall Posts</h4>
            <ul id="posts_list" class="list-group list-group-flush">
            </ul>
            <p class="text-center">
                <button onclick="get_posts()" class="btn btn-secondary">Load More</button>
            </p>

        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
<script>
    last_timestamp = 'None'

    function get_posts() {
        $.ajax({
            url: '/api/get_posts',
            data: {'limit': '10', 'last_timestamp': last_timestamp},
            type: 'POST',
            dataType: 'JSON',
            success: function (response) {

                if (response.length > 0) {
                    for (i in response) {
                        html = '<li class="list-group-item mb-2"><p><small class="text-muted">' + format_datetime(response[i].timestamp) + '</small>' +
                            '<button onclick="delete_post(this, \'' + response[i]._id + '\')" class="float-right btn btn-sm text-danger">Delete</button></p>' +
                            '<p class="text-break">' + response[i].content + '</p></li>'
                        $(html).hide().appendTo('#posts_list').slideDown();
                        last_timestamp = response[i].timestamp;
                    }
                }
            }
        })
    }

    function delete_post(e, id) {
        if (confirm('Do you want to delete this post ?')) {
            $.ajax({
                url: '/api/delete_post',
                type: 'POST',
                data: {'id': id},
                dataType: 'JSON',
                success: function (response) {
                    if (response.result == true) {
                        $(e.parentElement.parentElement).fadeOut()
                        show_alert('Deleted Successfully.', 'success')
                    } else {
                        show_alert('Error\n' + response.msg, 'danger')
                    }
                }
            })
        }
    }

    get_posts();
</script>
{% endblock %}