{% extends 'base.html' %}
{% block title %}{{user['username']}}{% endblock %}
{% block content %}
<br/>
<div class="row">
    <div class="col-lg-4">
        <p><img src="{{ url_for('static', filename ='img/default_profile_pic.png') }}" class="img-fluid"
                alt="Responsive image"></p>
    </div>
    <div class="col-lg-8">
        <h2 class="text-capitalize">{{user['full_name']}}</h2>
        <p>
            <button class="btn btn-block btn-outline-primary">MESSAGE</button>
        </p>
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
                   aria-controls="posts" aria-selected="true">POSTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about"
                   aria-selected="false">ABOUT</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                <ul id="posts_list" class="list-group list-group-flush">
                </ul>
            </div>
            <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <ul class="list-group list-group-flush">
                    {% for item in ('gender','dob','location') %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col text-uppercase">{{item}}</div>
                            <div class="col">{{user[item]}}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>


{% endblock %}

{% block javascript %}
function get_posts() {
$.ajax({
url: '/api/get_posts',
type: 'POST',
data: {'username':'{{user['username']}}'},
dataType: 'JSON',
success: function (response) {

if (response.length > 0) {
newest_post_timestamp = response[0].raw_timestamp;
for (i in response) {
html = '<li class="list-group-item"><small class="text-muted">'+format_datetime(response[i].raw_timestamp)+'</small><br/>'+response[i].content+'</li>'
$(html).hide().appendTo('#posts_list').slideDown();
oldest_post_timestamp = response[i].raw_timestamp;
}

}
}
})
}

get_posts();
{% endblock %}